{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <p><b></b><i></i>Get In Touch</i></b></p>
        <ul class="socialCol">
        <li><a href="https://github.com/Kudzmat"><img src="{% static 'images/github2.png' %}" alt="..."></a></li>
            <li><a href="https://medium.com/@kudzayibamhare"><img src="{% static 'images/medium-logo.webp' %}" alt="..."></a></li>
        <li><a href="https://www.instagram.com/bam.boogie?igsh=MXM2aXRwNGJtbXpxbw=="><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="https://x.com/BamBamm_Boogie"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/kudzayi-bamhare-3b6991b7/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->
